html { --root-pr: 0px; }
body { --scrollbar-offset: 0px; }
button, a { -webkit-tap-highlight-color: transparent; }
button:not(:disabled) { cursor: pointer; }
@media (min-width: 1280px) { .au-security-copy { letter-spacing: -.05px; } }
@media (min-width: 768px) { .au-sdk-copy { letter-spacing: -.05px; } }
